.container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: calc(min(90%, 1500px));
  height: 80%;
  margin: 3em auto 0 auto;
}

.sortItem {
  border: 1px solid black;
  flex: 1;
  background-color: rgb(114, 255, 114);
}
