.container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: calc(min(90%, 1800px));
  height: 80%;
  margin: 4em auto 0 auto;
  background-color: black;
}

.sortItem {
  width: 1.8px;
  background-color: white;
}
